
<div class = "container">
  <div class = "col-md-6">
      <img src = {{product.volumeInfo.imageLinks.thumbnail}} rel="image" style="width:400px;height:350px;"/>
  </div>
  <div class = "col-md-6">
    <h3>{{product.volumeInfo.title}}</h3>
    
      <h4 id="cn">MRP</h4>{{product.saleInfo.listPrice.amount}}
      <h5 class = "con">Description</h5>{{product.volumeInfo.description}}
      <h5 class = "con">Published By</h5>{{product.volumeInfo.publisher}}
      <h5 class = "con">Published Date</h5>{{product.volumeInfo.publishedDate}}
      <br>
      <span class="con">User Rating</span>
    
     
<span class="fa fa-star checked" *ngFor = "let pr of namelist"></span>
<br>
<div class = "row">
<div class = "col-md-12">
    <a routerLink='/display' class="button js-button btn-lg col-md-12" role="button">Back</a>
    <button (click) = "send()">Add to Cart</button>
    
    <!-- <app-shopcart [cart] = "addcart"></app-shopcart>  -->
    <a routerLink='/shopcart' class="button js-button btn-lg col-md-12" role="button">Show Cart</a>
    </div>
  </div>
  </div>
  <br><br><br>
 
</div>