<div class = "container">
  <div class = "col-md-4">
      <div *ngFor = "let item of arr;index as i">
          <!-- {{arr|json}} -->
          <!-- {{arr[i].kind}} -->
          {{item.id}}
        
      <img src = {{item.volumeInfo.imageLinks.smallThumbnail}} rel="image" style="width:500px;height:500px;"/>
  
  <div class = "col-md-8">
    <h3>{{item.volumeInfo.title}}</h3>
    
      <h4 id="cn">MRP</h4>{{item.saleInfo.listPrice.amount}}
      <button (click) = "delete(item)">Delete</button>
      </div>
      </div>
      </div>
      </div>
