<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Shopping Cart</a>
      </div>
      <ul  class="nav navbar-nav">
          <li><a routerLink = "/login">LogIn</a></li>
          <li><a routerLink = "/SignUp">SignUp</a></li>
          <li>
            <input type="text" name="search" placeholder="Search.." [(ngModel)]="search1"></li>
            <li><button (click)="search()">Search</button></li>
          
        
        </ul>
    </div>
  </nav>
  

<router-outlet></router-outlet>
